# use Vi, not Emacs as default, style editing
set editing-mode vi

# Show all completions as soon as I press tab, even if there's more than ne
set show-all-if-ambiguous on

# Ignore case
set completion-ignore-case on

# on menu-complete, first display the common prefix, then cycle through the options when hitting TAB
set menu-complete-display-prefix on

#################################################################
# Keymaps for when we're in normal mode
set keymap vi-command


